<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
	<title>Aula 3</title>
	<link rel="stylesheet" href="./styles/main.css">
	<link rel="stylesheet" href="./styles/page-study.css">
	<link rel="stylesheet" href="./styles/header.css">
	<link rel="stylesheet" href="./styles/page-landing.css">
	<link rel="stylesheet" href="./styles/forms.css">
	<link rel="stylesheet" href="./styles/give-classes.css">
	

	

</head>
<body id="page-give-classes">

<div id="container">
	<header class="page-header">
	<div class="top-bar-container">
			<a href="study.html">
		<img src="./images/iconback.png" alt="Voltar">
</a>
<img src="./images/logo3.jpg" alt="Logo">
		</div>

		<div class="header-content">
			<strong>Voce quer dar aulas</strong>
			<p>Primeiro passo preencha o formulário</p>

</div>
</header>
<main>
	<form action="" id="create-class"> 
		<fieldset>
			<legend>Seus Dados</legend>

			<div class="input-block">
				<label for="name">Nome completo</label>
				<input name="name" id="name" required>
			</div>

	<div class="input-block">
	<label for="avatar">Link da foto<small>(comece com https)</small></label>
	<input name="avatar" id="avatar" type="url" required>	
</div>

<div class="input-block">
	<label for="uatszap">whatsapp<small>(somente numeros)</small></label>
	<input name="uatszapr" id="uatszap" type="number" required>	
</div>

<div class="textarea-block">
	<label for="bio">Biografia</label>
<textarea name="bio" id="bio" required></textarea>
	
</div>
</fildset>

<fieldset>
	<legend>Sobre a aula</legend>
	<div class="select-block">
		<label for="subject">Matéria</label>
		<select name="subject" id="subject" required>
			<option value="">Selecione uma opção</option>

			{%for subject in subjects%}

		<option value="{{loop-index}}" {{"selected" if filters.subject == loop.index}}> {{subject}}
		</option>
		{%endfor%}
	</select>
	</div>

<fieldset>
	<legend>Horários disponíveis
	<button id="add-time">+ Novo horário</button>
	</legend>

	<div class="schedule-item">
		
		<div class="select-block">
			<label for="weekday">Dia da semana</label>
			<select name="weekday[]" required>
				<option value="">Selecione uma opção</option>

				{%for weekday in weekdays %}

		<option value="{{loop-index0}}"> 
			{{weekday}}
		</option>
		{%endfor%}
			
			</select>
		</div>

		<div class="input-block">
		<label for="cost">Custo da sua hora/aula
			<small>(R$)</small>

		</label>
		<input type="cost" id="cost" type="number" required>
	</div>
</fieldset>

	<div class="input-block">
		<label for="time_from">Das</label>
		<input type="time" name="time-from[]" required>
	</div>

	<div class="input-block">
		<label for="time_to">Das</label>
		<input type="time" name="time-to[]" required>
	</div>

	</div>
</fieldset>



	</form>

	<footer>
		<p>
			<img src="./images/avisoimport.png" alt="aviso importante">
			Importante! <br>
			Preencha todos os dados	
		</p>
		<button type="submit" form="create-class">Salvar cadastro</button>
	</footer>

</main>

</div>
</body>
</html>